.count__wrapper {
    margin-top: 70px;
    width: 104px;
    height: 67px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.count__icon {
    width: 30px;
    height: 12px;
}

.count__number {
    width: 54px;
    height: 35px;
    color: #000;
    font-family: var(--font-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.28%; /* 52.661px */
}

.count__text {
    width: 100px;
    height: 15px;
    color:  #999;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%; /* 25.355px */
}

@media (max-width: 750px) {
    
    .count__wrapper {
        width: 94px;
        
    }
    .count__icon {
        width: 20px;
    }
    
    .count__number {
        width: 44px;
        font-size: 32px;
        
    }
    
    .count__text {
        width: 90px;
        font-size: 14px;
        
    }
    
}

@media (max-width: 600px) {
    
    .count__wrapper {
        width: 94px;
        
    }
    .count__icon {
        width: 20px;
        height: 20px;
    }
    
    .count__number {
        width: 44px;
        font-size: 28px;
        
    }
    
    .count__text {
        width: 90px;
        font-size: 14px;
        
    }
    
}

@media (max-width: 530px) {
    
   .count__cards {
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
    
}