.projects {
    background: #F6F6F8;
    padding-bottom: 130px;
    overflow-x: hidden;
}

.projects__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects__title {
    padding-top: 100px;
    margin-bottom: 50px;
    width: 350px;
    height: 35px;
    color: #000;
    text-align: center;
    font-family: var(--font-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.28%; /* 52.661px */
}

.projects__text {
    margin-top: 50px;
    margin-bottom: 70px;
    width: 730px;
    height: 41px;
    color: #999;
    text-align: center;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%; /* 25.355px */
}

.projects__icons {
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projects__icons:last-child {
    margin-right: 0;
}

@media (max-width: 1250px) {
    .projects__img:nth-child(4) {
        display: none;
    }
}

@media (max-width: 1000px) {
    .projects__img:nth-child(3) {
        display: none;
    }
}

@media (max-width: 700px) {
    .projects__img:nth-child(2) {
        display: none;
    }
}

@media (max-width: 740px) {
    .projects__title {
        font-size: 28px;
    }
    
    .projects__text {
        width: 450px;
    }
}

