:root {
    --clr-btn: #4985FF;
    --font-family:Montserrat, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url("../../../public/img/Rectangle.jpg");
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: cover;
    height: 100%;
    margin-bottom: 110px;
}



.header__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 20px;
    color: #FFF;
    text-align: center;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    height: 111px;
    color: #FFF;
    text-align: center;
    font-family: var(--font-family);
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 134.09%; /* 64.363px */
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0 auto;
    width: 200px;
    height: 45px;
    background-color: var(--clr-btn);
    border-radius: 30px;
    color: #FFF;
    text-align: center;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 1120px) {
    .header__text {
        width: 90%;
        
    }
}

@media (max-width: 870px) {
    .header__text {
        width: 100%;
        font-size: 38px;
    }
}

@media (max-width: 680px) {
    .header__text {
        width: 100%;
        font-size: 28px;
    }
}

@media (max-width: 550px) {
    .header {
        overflow: hidden;
        
    }
    .header__title {
        margin-top: 60px;
    }
    
    .header__button {
        margin-bottom: 30px;
    }
}